## BI - Story 2 : MySQL

In [1]:
# Test de connexion à la base de données
# Importation
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd=""
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001C5F9A04310>

In [2]:
# Test de création de BDD
mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE test_connection_python")

In [4]:
# Test de création de table dans une base de données
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="",
  database="test_connection_python"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

In [5]:
# Test d'insertion d'une ligne dans la base de données
mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("David", "California")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record(s) inserted.")

1 record(s) inserted.

In [6]:
# Test d'insertion de plusieurs lignes dans la base de données
mycursor = mydb.cursor()
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
    ("Lily", "California"),
    ("David", "San Francisco"),
    ("Micheal", "Las Vegas"),
    ("Sarah", "New York")
]
mycursor.executemany(sql, val)
mydb.commit()
print(mycursor.rowcount, "record(s) inserted.")

4 record(s) inserted.