## Python : Fichiers - Fonctions - Modules
Axel Arcidiaco

# 1) Fonctions built-in

a) Fonctions de bases

In [2]:
x = -3 # un entier négatif
y = 3.14 # un float
liste1 = [3, 9, 27, 13, 5, 0] # Une liste de nombres
liste2 = [True, False, True] # Une liste de booléens

# Tests des fonctions built-in abs() & round() sur x & y
print("L'absolue de {} est {}".format(x, abs(x)))
print("L'arondie de {} est {}".format(y, round(y)),"\n")

# Tests des fonctions built-in max(), min(), sum() sur liste1
print("liste1 =", liste1)
print("max(liste1) =", max(liste1))
print("min(liste1) =", min(liste1))
print("sum(liste1) =", sum(liste1), "\n")

# Tests des fonctions built-in all() & any() sur liste2 & 1
print("liste2 =", liste2)
print("all(liste2) =", all(liste2)) # Affiche True uniquement si tous les éléments de liste2 sont égal à True
print("any(liste2) =", any(liste2), "\n") # Affiche True si au moins un élément de liste2 est égal à True
print("liste1 =", liste1)
print("All =", all(liste1)) # Affiche True uniquement si tous les éléments de liste1 sont différent de 0
print("Any =", any(liste1)) # Affiche True si au moins un élément de liste1 est différent de 0

L'absolue de -3 est 3
L'arondie de 3.14 est 3

liste1 = [3, 9, 27, 13, 5, 0]
max(liste1) = 27
min(liste1) = 0
sum(liste1) = 57

liste2 = [True, False, True]
all(liste2) = False
any(liste2) = True

liste1 = [3, 9, 27, 13, 5, 0]
All = False
Any = True

b) Conversion de type

In [3]:
s = "13" # Une string
n = 27 # Un int
f = 3.14 # Un float

# Conversion
print(s, "int(s) =", int(s), "float(s) =", float(s))
print(n, "str(n) =", str(n), "float(n) =", float(n))
print(f, "str(f) =", str(f), "int(f) =", int(f))

13 int(s) = 13 float(s) = 13.0
27 str(n) = 27 float(n) = 27.0
3.14 str(f) = 3.14 int(f) = 3

c) Conversion de structure de données

In [4]:
liste3 = ["Chat", "Chien", "Oiseau", "Poison Rouge"]

# Conversion liste3 en tuples
tuple1 = tuple(liste1)
print(tuple1)

# Conversion tuple1 en list
print(list(tuple1))

# Conversion d'un dictionnaire en list
dico = {"Cat":"Chat", "Bird":"Oiseau", "Bubble Fish":"Poison Rouge"}
liste4 = list(dico.keys())
print(liste4)

(3, 9, 27, 13, 5, 0)
[3, 9, 27, 13, 5, 0]
['Cat', 'Bird', 'Bubble Fish']

# 2) Importation de modules

In [4]:
import random # Importation du module random qui permet de faire des aléatoires
import math # Importation du module math qui permet d'utiliser des fonctions des calcul mathématique avancé comme sin() ou cos()
import statistics # Importation du module statistics qui permet de faire des statistiques

liste5 = [3, 9, 27, 13, 5, 0, math.pi] # Une liste de nombres

# math
# Affichage du nombre pi
print("Valeur de pi = {}".format(math.pi))
# Sinus et Cosinus de pi
print("Sinus de pi = {}".format(math.sin(math.pi)))
print("Cosinus de pi = {}".format(math.cos(math.pi)))

# random
# Affichage d'un nombre aléatoire entre 0 et 100
print("Nombre aléatoire entre 0 et 100 : {}".format(random.randint(0, 100)))
# Affichage d'un nombre aléatoire dans une liste
print("Nombre aléatoire de la liste {} : {}".format(liste5, random.choice(liste5)))

# statistics
# Affichage de la moyenne et de la variance des valeurs d'une liste avec le module statistics
print("Valeurs de liste1 : {}".format(liste5))
print("Moyenne de liste1 : {}".format(statistics.mean(liste5)))
print("Variance de liste1 : {}".format(statistics.variance(liste5)))

Valeur de pi = 3.141592653589793
Sinus de pi = 1.2246467991473532e-16
Cosinus de pi = -1.0
Nombre aléatoire entre 0 et 100 : 64
Nombre aléatoire de la liste [3, 9, 27, 13, 5, 0, 3.141592653589793] : 5
Valeurs de liste1 : [3, 9, 27, 13, 5, 0, 3.141592653589793]
Moyenne de liste1 : 8.59165609336997
Variance de liste1 : 84.35895390231666

# 3) Ecriture et lecture fichiers .txt

In [9]:
# importation
import glob

# Ecriture de fichiers textes
filenames = ["villes.txt", "prénom.txt"]
for file in filenames:
    # Ouverture de nouveau fichiers .txt /!\ l'instructions 'w' (write) écrase tous contenu déjà présent dans les fichiers s'ils existent déjà
    with open(file, 'w') as f:
        if (file == "villes.txt"):
            f.write("Dijon, Auxerre, Renne, Belfort")
        else:
            f.write("Axel, Nicolas, Solenn, Tetyana")
        f.close()

# Lecture de fichiers textes
filenames = glob.glob("*.txt") # récupération des noms des fichiers .txt
for file in filenames:
    with open(file, 'r') as f: # ouverture des fichiers
        print(f.read()) # lecture du contenu des fichiers

Axel, Nicolas, Solenn, Tetyana
Dijon, Auxerre, Renne, Belfort

# 4) Tests sur la librairie Pandas et les DataFrames

In [12]:
# Importation
import pandas as pd

# Test de lecture d'un fichier xls et d'affichage de ses premières lignes
data = pd.read_excel('titanic.xls') # lie les données du fichier titanic.xls et les sauvegardent dans la variable data
print(data.shape) # Vérification de la taille du DataFrame data (format = ligne, colonnes)
data.head() # Affiche les premières lignes du fichier titanic.xls

(1309, 14)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [14]:
# On enlève de data certaines colonnes pour ne garder que celles de la classe, du sexe, de  des passagers
data = data.drop(["name", "sibsp", "parch", "ticket", "fare", "cabin", "embarked", "boat", "body", "home.dest"], axis = 1)
# NTS : axis = 1 => colonnes / axis = 0 => lignes
# On affiche le début de notre nouveau tableau
data.head()

KeyError: "['name', 'sibsp', 'parch', 'ticket', 'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'] not found in axis"