## Workshop Python OLAP

In [4]:
# Importation des modules et bibliothèques Python
import atoti as tt

# Création d'une session atoti
session = tt.Session()

# Chargement du csv projected_sales
sales = session.read_csv("data/projected_sales.csv", keys=["Customer"])

# Affichage des 5 premières lignes de données du csv projected_sales
sales.head()

Deleting existing "Unnamed" session to create the new one.

            Salesperson  Continent  Country    Amount
Customer
Ubisoft        Léodagan     Europe   France  100000.0
Decathlon      Lancelot     Europe   France  150000.0
Airbus          Karadoc     Europe   France   80000.0
EDF              Bohort     Europe   France  120000.0
Air France     Lancelot     Europe   France   70000.0