In [22]:
# Importation des librairies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix

# Importation du dataset
data = pd.read_csv('data/Social_Network_Ads.csv')

# Affichage des dimensions du dataset
data.shape

(400, 5)

In [23]:
# Affichage des premières lignes du dataset
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [24]:
X = data.iloc[:, [2, 3]].values # On récupère l'age et le salaire estimé des utilisateurs et on crée un nouveau tableau
y = data.iloc[:, 4].values # On récupère les données de la colonne Purchased pour crée une nouvelle liste

In [25]:
# Séparation du dataset en un training set et un test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [26]:
# Feature Scaling
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [27]:
# Fitting Random Forest Classification to the Training set
classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
classifier.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy', n_estimators=10, random_state=0)

In [28]:
# Prédiction des résultat du test set
y_pred = classifier.predict(X_test)

In [29]:
# Création d'une matrice de confusion à partir de y_test et y_pred
cm = confusion_matrix(y_test, y_pred)